:root {
  /* --top-container-translate: 0px;
  --brand-description-container-translate: 0px; */
  --app-height: 100%;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  /* test */
  /* overflow: hidden; */
  /* test */

}

body {
  font-family: 'Bodoni Moda', serif;
  color: white;
  overscroll-behavior: none;
  /* test */
  /* position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%; */
  /* test */
}



h3 {
  font-size: calc(0.9rem + .6vw);
}

h5 {
  font-size: calc(0.7rem + .3vw);
}

.logo, .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 60vw;
}

.slogan {
  top: 75%;
  font-size: calc(0.8rem + .6vw);
}

/* cookies */
.announcement-bar {
  z-index: 5;
  display: block;
  text-align: center;
  background: #f3f3f3;
  width: 100vw;
  position: absolute;
  opacity: 80%;
  animation: top_container-animation 7s;
}

.announcement-bar__link {
  color: black;
  font-size: calc(0.7rem + .2vw);
  text-decoration: none;
}

.announcement-bar__message {
  background: #f3f3f3;
  margin: 0;
  padding: 0.5rem;
  font-family: 'Voltaire', sans-serif;
}

/* SLOGAN and LOGO ANIMATION */
@keyframes slogan-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes top_container-animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.top_container-fluid {
  animation: top_container-animation 5s;
  z-index: -2;
  scroll-snap-align: start;
}

.logo-img {
  animation: logo-animation 4s;
  opacity: 100%;
}

/* .slogan span{
  font-family: 'Bodoni Moda', serif;
  font-size:  calc(0.8rem + .6vw);
} */
.slogan .space {
  display: inline-block;
  margin-right: 0.25em;
}

.slogan .slogan-1 {
  animation: slogan-animation 7s;
}

.slogan .slogan-2 {
  animation: slogan-animation 9s;
}

.slogan .slogan-3 {
  animation: slogan-animation 5s;
}

.slogan .slogan-4 {
  animation: slogan-animation 6s;
}

/* END OF SLOGAN ANIMATION */
.top_container-fluid {
  position: relative;
}

.top_carousel {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  padding-bottom: 0rem;
  /* animation: carousel-caption-animation 5s; */
}

/* carousel-caption animation */
/* @keyframes carousel-caption-animation { */
/* 0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
} */
/* end of carousel-caption animation */
/* .carousel-inner{
  position: fixed;
} */
.top_container-fluid, .top_carousel, .carousel-inner, .carousel-item, .w-100 {
  /* height: 100vh; */
  height: calc(var(--appHeight, 1vh) * 100);
  min-height: -webkit-fill-available;
  width: 100vw;
}



.w-100 {
  object-fit: cover;
}

/* ARROW */
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  z-index: 5;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow-animation 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes arrow-animation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* END OF ARROW */
@media (max-width: 768px) {
  html {
    /* scroll-snap-type: y proximity; */
  }

  .carousel-control-next, .carousel-control-prev {
    top: 80%;
    width: 15%;
  }

  .logo-img {
    width: 35vw;
  }

  .arrow {
    top: 68%;
  }

  .arrow span {
    width: 10px;
    height: 10px;
  }

  .about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3 {
    padding-bottom: 15%;
  }

  .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5 {
    padding-top: 15%;
  }

  .main-body-extra-caption {
    padding-top: 25% !important;
  }

  .thumbnail {
    height: 1rem;
  }
}

@media (max-width: 900px) and (min-width: 769px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 40%;
  }

  .arrow {
    top: 70%;
  }

  .logo-img {
    width: 20vw;
  }

  .about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3 {
    padding-bottom: 10%;
  }

  .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5 {
    padding-top: 10%;
  }

  .thumbnail {
    height: 2rem;
  }

  .main-body-extra-caption {
    padding-top: 20% !important;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 50%;
  }

  .arrow {
    top: 70%;
  }

  .logo-img {
    width: 20vw;
  }

  .thumbnail {
    height: 2rem;
  }

  .about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3 {
    padding-bottom: 10%;
  }

  .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5 {
    padding-top: 10%;
  }

  .main-body-extra-caption {
    padding-top: 15% !important;
  }
}

@media (min-width: 1201px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 60%;
  }

  .arrow {
    top: 70%;
  }

  .logo-img {
    width: 20vw;
  }

  .about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3 {
    padding-bottom: 5%;
  }

  .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5 {
    padding-top: 5%;
  }

  .thumbnail {
    height: 2rem;
  }

  .main-body-extra-caption {
    padding-top: 8% !important;
  }
}

@media (min-width: 2100px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 80%;
  }

  .arrow {
    top: 70%;
  }

  .logo-img {
    width: 15vw;
  }

  .about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3 {
    padding-bottom: 5%;
  }

  .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5 {
    padding-top: 5%;
  }

  .thumbnail {
    height: 2.5rem;
  }

  .main-body-extra-caption {
    padding-top: 8% !important;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1.5);
  }
}

.carousel-item img {
  object-fit: cover;
  animation: 25s zoomout;
}

.brand-description-container {
  width: 100vw;
  /* height: 100vh; */
  height: calc(var(--appHeight, 1vh) * 100);
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../image/brand-description-1.JPG");
}

.brand-description {
  width: calc(7rem + 40vw);
  max-width: 55rem;
  margin: auto;
  padding: calc(0rem + 11vh) calc(1rem + 3vw);
  background-color: #F3D5C0;


}

.brand-description h3 {
  padding-bottom: 3rem;
  font-size: calc(0.9rem + 3vw);
}

.brand-description h5 {
  padding-bottom: 2rem;
  font-size: calc(0.8rem + 1vw);
}

.brand-description-bg{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden;
}

#brand-description-img-1 {
  border-radius: 50%;
  width: calc(20rem + 36vw);
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  position: absolute;
  transition: all .2s ease-in-out;
}

#brand-description-img-2{
  position: absolute;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  width: calc(20rem + 36vw);

}

#brand-description-img-1:hover, #brand-description-img-2:hover{
  transform: scale(1.1);
}

.main-body-container {
  width: 100vw;
  overflow: hidden;
  scroll-snap-align: start;
  /* scroll-snap-stop: always; */
}

.main-body-container .row {
  width: 100vw;
  margin-left: 0;
}

.blossom, .coffee, .leaf {
  z-index: 0;
}

.about-us, .init-select {
  z-index: 1;
}

.main-body-bg {
  object-fit: cover;
  width: 100vw;
  height: 40vh;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden;
  filter: grayscale(0%);
}

.main-body-bg:hover {
  filter: grayscale(50%);
}

.about-us, .coffee, .blossom, .leaf, .init-select {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  justify-content: center;
}

.about-us h3, .coffee h3, .blossom h3, .leaf h3, .init-select h3, .about-us h5, .coffee h5, .blossom h5, .leaf h5, .init-select h5, .thumbnail {
  position: absolute;
}


.bot-container {
  height: 21vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: end;
}

.bot-container h3 {
  font-size: calc(0.5rem + .4vw);
  padding-bottom: 2%;

}

.fa-instagram {
  color: white;
}
