
:root{
  --top-container-translate:0px;
}

html{
  scroll-behavior: smooth;
}


body {
  font-family: 'Bodoni Moda', serif;
  color: white;
}

h3{
  font-size: calc(0.9rem + .6vw);
}

.logo, .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 60vw;
}

.slogan {
  top: 75%;
  font-size: calc(0.8rem + .6vw);

}

/* SLOGAN and LOGO ANIMATION */
@keyframes slogan-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }
}

@keyframes top_container-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}


.top_container-fluid{
  animation: top_container-animation 5s;
  z-index: -1;
}

.logo-img{
  animation: logo-animation 4s;
  opacity: 100%;
}

/* .slogan span{
  font-family: 'Bodoni Moda', serif;
  font-size:  calc(0.8rem + .6vw);
} */

.slogan .space{
  display: inline-block;
  margin-right:0.25em;
}
.slogan .slogan-1{
  animation: slogan-animation 7s;

}
.slogan .slogan-2{
  animation: slogan-animation 9s;

}
.slogan .slogan-3{
  animation: slogan-animation 5s;

}
.slogan .slogan-4{
  animation: slogan-animation 6s;
}

/* END OF SLOGAN ANIMATION */

.top_container-fluid {
  position: relative;
}

.top_carousel{
  display: flex;
  justify-content: center;
}

.carousel-caption {
  padding-bottom: 0rem;
  /* animation: carousel-caption-animation 5s; */
}

/* carousel-caption animation */
/* @keyframes carousel-caption-animation { */
  /* 0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
} */
/* end of carousel-caption animation */

h5 {
  font-size: 0.7rem;
}

.top_container-fluid, .top_carousel, .carousel-inner, .carousel-item, .w-100 {
  height: 100vh;
  height: calc(var(--appHeight, 1vh) * 100);
  width: 100vw;
}

.w-100 {
  object-fit: cover;
}

/* ARROW */
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  z-index: 5;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow-animation 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes arrow-animation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* END OF ARROW */




@media (max-width: 768px) {
  .carousel-control-next, .carousel-control-prev {
    top: 80%;
    width: 15%;
  }

  .logo-img {
    width: 35vw;
  }
  .arrow{
    top:68%;
  }
  .arrow span{
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 900px) and (min-width: 769px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 40%;
  }
  .arrow{
    top:70%;
  }
  .logo-img {
    width: 20vw;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 50%;
  }
  .arrow{
    top:70%;
  }
  .logo-img {
    width: 20vw;
  }
}

@media (min-width: 1201px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 60%;
  }
  .arrow{
    top:70%;
  }
  .logo-img {
    width: 20vw;
  }
}

@media (min-width: 2100px) {
  .carousel-control-next, .carousel-control-prev {
    top: 92%;
    width: 80%;
  }
  .arrow{
    top:70%;
  }
  .logo-img {
    width: 15vw;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1.5);
  }
}

.carousel-item img {
  object-fit: cover;
  animation: 25s zoomout;
}

.main-body-container {
  width: 100vw;
}

.main-body-container .row{
  width:100vw;
  margin-left: 0;
}

.about-us img, .coffee img, .blossom img, .leaf img {
  object-fit: cover;
  width: 100vw;
  height: 30vh;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden;
  filter: grayscale(0%);
}

.about-us img:hover, .coffee img:hover, .blossom img:hover, .leaf img:hover {
  filter: grayscale(50%);
}

.about-us, .coffee, .blossom, .leaf {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0;
  padding-left: 0;
}

.about-us h3, .coffee h3, .blossom h3, .leaf h3 {
  position: absolute;
  margin: auto;
}

.bot-container {
  height: 13vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.bot-container span {
  display: flex;
  font-size: calc(0.5rem + .6vw);
}

.about-us{
  display:flex;
  align-items: center;
  justify-content: center;
}
.about-us h3{
  position: absolute;
  margin: auto;
}
